.container{
    margin: 20px;
}
.color-box{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}
.label{
     width: 100px;
    height: 50px;
    background-color: aqua;
}
.green{
   background-color: rgb(71, 203, 82);
}
.dakeblue{
    background-color: rgb(0, 0, 74);
}