.container{
    border: 3px solid black;
    width: 400px;
    height: 700px;
}
.top-bar{
    width: 400px;
    height: 80px;
    display: flex;
}
.middle-bar{
    width: 400px;
    height: 200px;
    display: flex;
}
.middle-bar-button{
    width: 400px;
    height: 70px;
}
.bottom-bar{
    width: 400px;
    height: 350px;
}
.item{
    display: flex;
}

.profile-img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.image-list{
    width: 70px;
    height: 70px;
    border: 2px solid black;
}